article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  max-width: 100%;
  background: #f7f9fa;
  background-position: center;
  background-size: cover;
  padding: 20px;
  letter-spacing: 1px;
  text-align: center;
  
}


@media (max-width: 400px) {
    .main-1,
    .main-2,
    .main-3 {
        display: inline-block;
        width: 90%;
    }
}